/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-août-2020, 20:41:55
    Author     : Pixelio
*/

.rectangle{
    height:15px;
    width:15px;
}

.preview-product{
    max-width:100px;
    max-height: 100px;
}